<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
<title>COVID-19 Statistics</title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/table.css">
<link rel="stylesheet" href="/footer.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<style type="text/css">
.table_outer {
	height: 40em;
	overflow: auto;
}
</style>
<script type="text/javascript">
	function callForCountry(url) {
		window.location = "countries/" + url;

	}
</script>
<script type="text/javascript">
	function load() {
		$('a').click(function(event) {
	    	event.preventDefault();
	    });
		setTimeout("window.open(self.location, '_self');", 300000);
		document.getElementById("content").style.display = "none";
		document.getElementById("primary_content").style.display = "block";
		document.getElementById("subTitle").innerHTML = "Table showing the world wide cases of Covid-19 Country wise";
	}
	function showContent(selectObject) {
		var value = selectObject.value;
		if (value.includes("india/statewise")) {
			document.getElementById("subTitle").innerHTML = "Table showing the total cases of Covid-19 in Indian States";
			document.getElementById("content").style.display = "block";
			document.getElementById("content").innerHTML = '<object type="text/html" data="'+value+'" style="width: 1062px;height: 560px;"></object>';
			document.getElementById("primary_content").style.display = "none";
		} else if (value === "#") {
			load();
		} else if (value.includes("displayBarGraph")) {
			document.getElementById("subTitle").innerHTML = "Corona Cases Bar Graph for India";
			document.getElementById("content").style.display = "block";
			document.getElementById("content").innerHTML = '<object type="text/html" data="'+value+'" style="width: 1250px;height: 560px;"></object>';
			document.getElementById("primary_content").style.display = "none";
		} else if (value.includes("lineGraph")) {
			document.getElementById("subTitle").innerHTML = "Corona Cases Line Graph for India";
			document.getElementById("content").style.display = "block";
			document.getElementById("content").innerHTML = '<object type="text/html" data="'+value+'" style="width: 1250px;height: 560px;"></object>';
			document.getElementById("primary_content").style.display = "none";
		}
	}
	function showContentCountryWise(selectObject, country) {
		var url = selectObject.value;
		var value = selectObject.value.split(/[\s/]+/);
		if (value.includes("countries")) {
			document.getElementById("subTitle").innerHTML = "Table showing the total cases of Covid-19 in "
					+ value[3];
			document.getElementById("content").style.display = "block";
			document.getElementById("content").innerHTML = '<object type="text/html" data="'+url+'" style="width: 1062px;height: 560px;"></object>';
			document.getElementById("primary_content").style.display = "none";
		} else {
			load();
		}
	}
	function showContentCountry(selectObject) {
		var url = selectObject;
		var value = selectObject.split(/[\s/]+/);
		if (value.includes("countries")) {
			document.getElementById("subTitle").innerHTML = "Table showing the total cases of Covid-19 in "
					+ value[4];
			document.getElementById("content").style.display = "block";
			document.getElementById("content").innerHTML = '<object type="text/html" data="'+url+'" style="width: 1062px;height: 560px;"></object>';
			document.getElementById("primary_content").style.display = "none";
		} else {
			load();
		}
	}
</script>
</head>
<body onload="load()">

	<div class="container">
		<h2>COVID-19 Statistics</h2>
		<p id="subTitle">Table showing the world wide cases of Covid-19
			Country wise</p>
		<label for="sel">Top Five Corona Affected Countries</label> <select
			name="sample" onchange="showContentCountryWise(this);"
			class="browser-default custom-select">
			<option value="#">All</option>
			<option th:each="countr : ${topFiveCountries}"
				th:value="@{'/corona-api/countries/' + ${countr.country}}"
				th:text="${countr.country}"></option>

		</select> &nbsp; <label for="graph">Choose your Graph:</label> <select
			name="sample" onchange="showContent(this);"
			class="browser-default custom-select">
			<option value="#">All</option>
			<option value="/corona-api/graphs/india/displayBarGraph">Bar
				Graph For India</option>
			<option value="/corona-api/graphs/india/lineGraph">Line
				Graph For India</option>

		</select> &nbsp; </select> <label for="graph">Indian States:</label> <select
			name="sample" onchange="showContent(this);"
			class="browser-default custom-select">
			<option value="#">All</option>
			<option value="/corona-api/countries/india/statewise">
				Indian States</option>


		</select>
		<div id="content" style="width: 400px"></div>
		<div id="primary_content" class="table_outer">
			<table class="content-table">
				<thead>
					<tr>
						<th>Country Name</th>
						<th>Total Cases</th>
						<th>Recovered</th>
						<th>Deaths</th>
						<th>Today's Cases</th>
						<th>Today's Recovery</th>
						<th>Today's Death</th>
						<th>Total Population</th>
					</tr>
				</thead>
				<tbody>
					<tr th:each="coronaCase: ${allCases}">
						<td><a
							th:href="@{'/corona-api/countries/' + ${coronaCase.country}}"
							onclick="showContentCountry(this.href);"><span
								th:text="${coronaCase.getCountry()}"> </span></a></td>
						<td th:text="${coronaCase.getCases()}"></td>
						<td th:text="${coronaCase.getRecovered()}"></td>
						<td th:text="${coronaCase.getDeaths()}"></td>
						<td th:text="${coronaCase.getTodayCases()}"></td>
						<td th:text="${coronaCase.getTodayRecovered()}"></td>
						<td th:text="${coronaCase.getTodayDeaths()}"></td>
						<td th:text="${coronaCase.population}"></td>
					</tr>
					<tr class="active-row">
						<td>Total</td>
						<td th:text="${totalCases}"></td>
						<td th:text="${totalRecovery}"></td>
						<td th:text="${totalDeaths}"></td>
						<td th:text="${totalTodays}"></td>
						<td th:text="${totalTodaysRecovery}"></td>
						<td th:text="${totalTodaysDeath}"></td>
						<td th:text="${totalPopulation}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>
	<script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>
</body>
<br />
<p align="center">
	Made with <span class="iconify" data-icon="ion-heart"> </span> by Bunty
	Chakraborty
</p>

</html>