<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
  <title>COVID-19 Statistics </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <link rel="stylesheet" href="/table.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script type="text/javascript">
  function callForCounry(url){
	  window.location = "countries/"+url;

  }
  </script>
</head>
<body>

<div class="container">
  <h2>COVID-19 Statistics</h2>
  <p>Table showing the total cases of Covid-19 in Indian States</span></p>            
  <table class="content-table">
    <thead>
      <tr>
        <th>Indian States</th>
        <th>Total Cases</th>
        <th>Recovered</th>
        <th>Active</th>
         <th>Deaths</th>
      </tr>
    </thead>
    <tbody>
      <tr th:each="state: ${indianStates}">
      <td th:text="${state.state}"></td>
        <td  th:text="${state.confirmed}"  style="cursor: pointer"
        ></td>
        <td th:text="${state.recovered}"></td>
        <td th:text="${state.active}"></td>
        <td th:text="${state.deaths}"></td>
        
        
        
      </tr>
    
    </tbody>
  </table>
</div>

</body>
</html>
