<!DOCTYPE html>
<html lang="en" xmlns="https://www.thymeleaf.org/">
<head>
<title th:text="${stateName}"></title>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
<link rel="stylesheet" href="/table.css">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

	<div class="container">
		<br>
		<p>
			Table showing the total cases of Covid-19 in Indian Districts of  </span> <span th:text="${stateName}"></span>
		</p>
		<table class="content-table">
			<thead>
				<tr>
					<th>District Name</th>
					<th>Total Cases</th>
					<!-- <th>Recovered</th>
					<th>Deaths</th> -->
				</tr>
			</thead>
			<tbody>
				<tr th:each="district: ${indianDistricts}">
					<td th:text="${district.name}"></td>
					<td th:text="${district.confirmed}" style="cursor: pointer"></td>
					<!-- <td th:text="${district.recovered}"></td>
					<td th:text="${district.deaths}"></td> -->



				</tr>

			</tbody>
		</table>
	</div>

</body>
</html>
